@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root{
    --custom-font: 'Kumbh Sans', sans-serif;
    --Orange:hsl(26, 100%, 55%);
    --pale-orange:hsl(25, 100%, 94%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --dark-grayish-blue:hsl(219, 9%, 45%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--custom-font);
}
.navbar{
    width:90%;
    height:100px;
    margin: 0 5% 0 5%;
    display:flex;
}
.ham{
    display:none;
}
.navbar .logo{
width:20%;
}
.navbar .close{
    display:none;
}
.navbar .links{
width:70%;
margin:auto 0 auto 0;
font-size: 14.5px;
color: var(--dark-grayish-blue);
}
.links ul{
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 40% 0 10% ;
}
.links ul li a{
    text-decoration:none;
    color:var(--dark-grayish-blue);
}
.mycart{
width:10%;
margin:auto 0;
}
.mycart img{
    width:40px;
    height:40px;
}
.profile-pic{
width:10%;
margin:auto 0;

}
.profile-pic img{
    width:35px;
    height:35px;
}
.division{
    width:90%;
    height:fit-content;
    margin:0 5% 15% 5%;
    display: flex;
}
.division .left-corner{
  width: 50%;
} 
.product-pics img{
    width:70%;
    height:fit-content;
    margin: 0 15% 0 15%;
    border-radius: 5px;
}
.pics-bar{
    width:70%;
    height:100px;
    margin: 0 15% 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.pics-bar img{
    width:90%;
    height:fit-content;
    border-radius:5px;
    margin:0 5%;
}
.division .right-corner{
  width:50%;
}
.product-details{
    width:70%;
    margin:0 15% 0 15%;
}
.product-details .brand{
    text-transform:uppercase;
    color:var(--Orange);
    font-weight:700;
    padding-top: 20px;
}
.product-details .product-heading{
    font-size: 35px;
    font-weight: 600;
    padding-bottom:10px;
}
.product-p{
    color:var(--dark-grayish-blue);
    padding-bottom:10px;
}
.price-area{
    display:block;
}
.discount-area{
  display:flex;
}
.price{
    font-size:25px;
    
}
.discount{
  width:40px;
  height:fit-content;
  line-height:35px;
  font-size:17.5px;
  font-weight: 600;
  margin-left: 10px;
  color:var(--Orange);
  background:var(--pale-orange);
  text-align: center;
  border-radius:5px;
}
.original-price{
    text-decoration: line-through;
    color:var(--dark-grayish-blue);
}
.quantity-area{
    width:100%;
    height:50px;
    display:flex;
    text-align: center;
    
   
}
.quantity{
    width:30%;
    height:40px;
    margin:5px 0 5px 0;
    display:flex;
    text-align: center;
    line-height:35px;
    background:var(--Light-grayish-blue);
    border-radius:5px;
    color:orange;
}
#sub{
width:20px;
height:20px;
}
#value{
width:60%;
}
#add{
width:20px;
height:20px;
}
.add2cart{
    width:70%;
    height:40px;
    margin-top:2.5px;
    margin-bottom:2.5px;
    text-align: center;

}
.addcart{
    width:90%;
    height:35px;
    margin:2.5px 5% 2.5px 5%;
    text-align: center;
    background:var(--Orange);
    border:none;
    border-radius:5px;
    color:white;
}
#valuetag{
    width:fit-content;
    height:40px;
    background:rgba(14, 13, 13, 0.7);
    padding:10px;
    position:absolute;
    top:auto;
    left:10%;
    margin:0 10% 0 10%;
    text-align: center;
    border-radius:10px;
    text-align: center;
    color: aliceblue;
    display:none;
    
}


@media screen and (max-width:394px) {
    *{
        box-sizing: border-box;
    }
    .navbar{
        width:100%;
        height:60px;
        box-shadow: 5px 5px 12px 1px rgba(14, 13, 13, 0.1);
        display:flex;
        margin:0;
        
    }
    
  
    .ham{
        width:15%;
        margin:15px;
        display: block;
        font-size:20.5px;
    }
    .navbar .logo{
        width:55%;
        height:60px;
        
    }
    .links .close{
        width:90%;
        margin:10px;
        display:inline-flex;
        flex-direction: row-reverse;
        
    }
    .links .close img{
        width: 25px;
        height:25px;
        
    }
    .navbar .links{
        width:70%;
        height:100vh;
        background:white;
        position:fixed;
        display:none;

    }
    .navbar .links ul{
        display:flex;
        flex-direction: column-reverse;
        position: absolute;
        
        left:0;
        top: 10%;
    }
    .navbar .links ul li{
        margin-top: 30px;

    }
       .mycart{
        width:15%;
        margin:auto 0;
        }
        .mycart img{
            width:35px;
            height:35px;
            float: right;
        }
        .profile-pic{
        width:15%;
        margin:auto 0;
       }
        .profile-pic img{
            width:35px;
            height:35px;
            float: right;
            margin-right: 10px;
        }
        .division{
            width:100%;
            height:950px;
            margin: 0;
            display:block;
        }
        .division .left-corner{
          width: 100%;
        } 
        .product-pics img{
            width:100%;
            height:fit-content;
            border-radius: 5px;
            margin:0;
        }
        .pics-bar{
            width:100%;
            height:100px;
            margin:0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            
        }
        .pics-bar img{
            width:90%;
            height:fit-content;
            border-radius:5px;
            margin:0 5%;
        }
        .division .right-corner{
          width:100%;
          margin-top:20px;
        }
        .product-details{
            width:80%;
            margin:0 10% 0 10%;
        }
        .product-details .brand{
            text-transform:uppercase;
            color:var(--Orange);
            font-weight: 700;
        }
        .product-details .product-heading{
            font-size: 35px;
            font-weight: 600;
            padding:10px 0 10px 0;
        }
        .product-p{
            color:var(--dark-grayish-blue);
            padding:5px 0 ;
        }
        .price-area{
            display:block;
        }
        .discount-area{
          display:flex;
        }
        .price{
            font-size:25px;
            
        }
        .discount{
          width:40px;
          height:fit-content;
          line-height:35px;
          font-size:17.5px;
          font-weight: 600;
          margin-left: 10px;
          color:var(--Orange);
          background:var(--pale-orange);
          text-align: center;
          border-radius:5px;
        }
        .original-price{
            text-decoration: line-through;
            color:var(--dark-grayish-blue);
        }
        .quantity-area{
            width:100%;
            height:50px;
            display:block;
            text-align: center;
            
           
        }
        .quantity{
            width:90%;
            height:60px;
            margin:15px 5% 15px 5%;
            display:flex;
            text-align: center;
            background:var(--Light-grayish-blue);
            border-radius:5px;
            align-items: center;
            justify-content: center;
            color:orange;
            font-size:17.5px;
            font-weight: 600;
        }
        #sub{
        width:20px;
        height:20px;
        line-height: 15px;
        }
        #value{
        width:60%;
        }
        #add{
        width:20px;
        height:20px;
        line-height:15px;
        }
        .add2cart{
            width:100%;
            height:50px;
            margin-top:5px;
            margin-bottom:15px;
            text-align: center;
        
        }
        .addcart{
            width:90%;
            height:60px;
            margin:2.5px 5% 2.5px 5%;
            text-align: center;
            background:var(--Orange);
            border:none;
            border-radius:5px;
            color:white;
        }
        #valuetag{
            width:fit-content;
            height:40px;
            background:rgba(14, 13, 13, 0.7);
            padding:10px;
            position:absolute;
            top:40%;
            left:10%;
            margin:0 10% 0 10%;
            text-align: center;
            border-radius:10px;
            text-align: center;
            color: aliceblue;
            display:none;
            
        }
   




















   
    .quantity_sign{
        background: none;
        border:none;
    }

    .addcart .add2cart {
        width:90%;
        height: 50px;

        margin: 10% 5% 0 5%;
        background: var(--Orange);
        border-style: none;
        border-radius: 10px;
        text-align: center;
        color: white;
        display: block;
    }
    .add2cart p{
        text-align: center;
    }
    .div {
        width:fit-content;
        height:40px;
        background:rgba(14, 13, 13, 0.7);
        padding:10px;
        position:absolute;
        top:40%;
        margin:0 10% 0 10%;
        text-align: center;
        border-radius:10px;
        text-align: center;
        color: aliceblue;
        display:none;
        
    }
    
  
      
}
   
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
    }